<html>
<head>
	<title></title>
</head>
<body>


<div id="content_container" class="content">
</div>
<div id="content" class="content">
	<script>
	$('#content').empty();
	$('#content').append(offair);
	</script>
</div>
<div id='video' class='animated SlideInDown'>
</div> 

</body>
</html>